  .header {
    background: white;
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #1CB5E0, #000046); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #1CB5E0, #000046); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .home-content {
    display: block!important;
    padding: auto;
    margin: auto;
    position: relative;
    width: 100%;
    height: inherit;
    box-sizing: border-box;

  }

  .landing-grid {
    background: #667db6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    justify-content: center;
    top: 0;
    left: 0;
  }
  
  

  .fa-github {
    color: white;
    font-size: 8em;
    justify-content: space-between;
    opacity: 0.8;
    transition: all 200ms ease-in-out;
    width: 10%;
  }

  .fa-github:hover {
    opacity: .9;
  }

  .fa-phone-square:hover {
    color: white!important;
  }
  .fa-phone-square {
    color: black!important;
    padding-right: 0.5em;
    font-size: 2em;
  }

  .project-unity-cards {
    display: flex;
  }

  .ts-images {
    display: flex;
    justify-content: center;
  }

  .ts-react {
    height: 170px;

  }

  .ts-css {
    height: 200px;
  }

  .ts-react:hover,
  .ts-css:hover {
    transform: translateY(-5px) scale(1.05) !important;

  }

  .ts-react,
  .ts-css {
    transform: translateY(0px) scale(1);
    transition: all 400ms ease-in-out;
  }

  .Project1 {
    width: 100%;
    height: 100;
  }

  .ProfilePic {
    justify-content: center;
    height: 350px;
    border-radius: 1em;
  }

  .banner-text {
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
  }

  .banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
  }

  .banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
  }

  .banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
  }

  .social-icons {
    display: flex;
    margin: auto;
    overflow: auto;
  }

  .aboutme-photo {
    
  }


  .about-body {
    margin: auto;
    background: white;

    width: 100%;
    justify-content: center;

  }

  .about-grid {

    background: white;
    color: white;
    height: 80%;
    width: 80%;
  }

  .about-me-info {
    background: white;    
    text-align: center;
    color: black;
  }

  .page-title {
    color: black;
  }

  
  .tech-skills-body {
    margin: auto;
    background: white;

    width: 100%;
    justify-content: center;

  }

  .tech-skills-grid {

    background: white;
    color: white;
    height: 80%;
    width: 80%;
    text-align: center;
    justify-content: center;
  }

 
