  .header {
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .landing-grid{
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }
  .project-unity-cards {
    display: flex;
  }
  .ts-images {
    display:  flex;

  }

  .ts-react {
    height: 170px;

  }

  .ts-css {
    height: 200px;
  }

  .ts-react:hover, .ts-css:hover {
    transform: translateY(-5px) scale(1.05)!important;

  }

  .reactTitle{
  }

  .ts-react, .ts-css {
    transform: translateY(0px) scale(1);
    transition: all 400ms ease-in-out;
  }

  .social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
  }

  .Project1 {
    width: 100%;
    height: 100;
  }

  .ProfilePic {

    height: 250px;
    border-radius: 20px!important;
  }

  .Banner-Text{
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-width: 10px
  }


  .contact-body {
    margin: auto;
    background: grey;
    position:  fixed;;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
  }

  .contact-grid {

    background: white;
    width: 80%;
    height: 70%;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 10em;
    color: black;
    border: 1px solid red;
    margin-bottom: 20px;
  }

  .contact-grid p {
    padding-top: 15em;
    text-align: justify;
  }

  .contact-grid hr {
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
  }


  .Banner-Text h1{
    font-size: 66px;
    font-weight: bold;
    color:  white;
  }

  .Banner-Text hr{
    border-top: 5px dotted white;
    width: 70%;
    margin: auto;
  }

  .Banner-Text p{
    font-size: 20px;
    padding: 1em;
    color:  white;
  }

  .social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
  }

  .social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;
  }
